services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:${DB_PORT}"

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    env_file:
      - .env
    environment:
      RAILS_ENV: development
    volumes:
      - .:/app
      - bundle-cache:/bundle
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  db-data:
  bundle-cache:
